.RoomListItem {
	padding:10px;
	border-bottom: 1px solid;
	border-bottom-color: #fafafa;
}
.RoomListItem  .avatar
{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius: 15px;
	overflow: hidden;
	-webkit-box-shadow: 3px 3px 3px;
	vertical-align: middle;
	
}
.RoomListItem  .avatar img
{
width:150%;
height:150%;
}
.RoomListItem  .user-name
{
	display:inline-block;
	padding-left: 10px;
}