.RoomListItem {
	padding:10px;
	border-bottom: 1px solid;
	border-bottom-color: #fafafa;
	min-width:150px;
	
}
.RoomListItem  .icon
{
	display:inline-block;
	width:16px;
	height:16px;
	overflow: hidden;
	vertical-align: middle;
	
}
.RoomListItem  .icon img
{
width:100%;
height:100%;
}
.RoomListItem  .user-name
{
	display:inline-block;
	padding-left: 5px;
}